<h2>Редактировать главу</h2>
<form method="POST" action="/books/{{bookId}}/chapters/{{chapter.id}}/edit">
  <div class="form-group">
    <label for="chapterTitle">Название главы</label>
    <input type="text" id="chapterTitle" name="title" value="{{chapter.title}}" required>
  </div>
  <div class="form-group">
    <label for="chapterNumber">Номер главы</label>
    <input type="number" id="chapterNumber" name="chapter_number" min="1" value="{{chapter.chapter_number}}" required>
  </div>
  <div class="form-group">
    <label for="chapterContent">Текст главы</label>
    <textarea id="chapterContent" name="content" rows="10">{{chapter.content}}</textarea>
  </div>
  <button type="submit" class="button add-book-btn">Сохранить изменения</button>
</form>
{{!-- <div style="margin-top: 16px; text-align: center;">
  <a href="/books/{{bookId}}" class="button">Вернуться к книге</a>
</div> --}}

<!-- WYSIWYG-редактор   -->
<script src="https://cdn.tiny.cloud/1/vmj45dvfqjo1v2bff4hzp0prght7giiwd77rx1jzyklt31te/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#chapterContent',
    plugins: 'image link lists code',
    toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright | bullist numlist | image link | code',
    images_upload_url: '/api/images/upload', // реализуй этот эндпоинт для загрузки
    automatic_uploads: true,
    images_upload_credentials: true,
    height: 400
  });
</script>